*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  font-family: sans-serif;
  background-color: rgb(237, 237, 237);
  position: relative;
}

header {
  font-size: 32rem;
  background-color: #24282d;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20rem 0rem 20rem 0rem;
  margin-bottom: 40rem;
}

.footer {
  background-color: #24282d;
  color: white;
  padding: 6rem;
  font-size: 15rem;
  text-align: center;
}

.score-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130rem;
  margin-bottom: 40rem;
}

.score {
  font-size: 19rem;
  background-color: #527198;
  font-weight: 600;
  color: rgb(79, 79, 79);
  padding: 8rem 27rem 8rem 27rem;
  border-radius: 20rem;
  box-shadow: 0 8rem 16rem rgba(0, 0, 0, 0.2);
}

.current-score {
  background-color: #fbbbc5;
}

.high-score {
  background-color: #a8f5b3;
}

.characters-list {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150rem, 1fr));
  gap: 30rem;
  max-width: 700rem;
  margin: 0 auto 48rem auto;
  justify-items: center;
}

.character-img {
  width: 150rem;
  height: 150rem;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  margin-bottom: 10rem;
}

h3 {
  font-size: 16rem;
  text-align: center;
  color: rgb(73, 73, 73);
  margin-top: auto;
  font-weight: 600;
  padding-left: 3rem;
  padding-right: 3rem;
}

li {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 8rem 16rem rgba(0, 0, 0, 0.392);
  transition: transform 0.3s, -webkit-transform 0.3s;
  padding-top: 7rem;
  padding-bottom: 7rem;
  border-radius: 25rem;
}

li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.66);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100rem;
}

.overlay {
  background-color: rgb(245, 245, 245);
  padding: 27rem 50rem 27rem 50rem;
  border-radius: 20rem;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-h1 {
  font-size: 25rem;
  color: #333639;
  margin-bottom: 5rem;
}

.modal-p {
  font-size: 23rem;
  color: #333639;
  margin-bottom: 10rem;
}

.play-btn {
  color: white;
  font-size: 16rem;
  font-weight: 300;
  background-color: #222425;
  border: none;
  border-radius: 15rem;
  padding: 7rem 16rem 7rem 16rem;
}
